

body {
    margin-top: 20px;
    background-color: #f8e8a6;
}
.croissant-placement{
    margin: 10px auto;
}
footer{
    text-align: center;
}
footer a{
    margin: 0 10px; 
       color: #178f71;

}